<!DOCTYPE html>
<html>
<head>
    <title>Vlocity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script data-require="angular.js@1.3.1" data-semver="1.3.1" src="https://code.angularjs.org/1.3.1/angular.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller='myController' ng-init="init()">
        <div class="header row" >
            <div class="search col-md-4 btn-group">
                <span class="search-icon glyphicon glyphicon-search"></span>
                <input class="form-control input-lg" type="text" placeholder="Search" ng-model="search">
                <span class="cancel glyphicon glyphicon-remove"></span>
            </div>
            <div class="account col-md-8">
                <div class="name">
                {{ selectedPerson.name }}
                </div>
                <div class="icon dropdown-toggle custom-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://openclipart.org/image/2400px/svg_to_png/202776/pawn.png">
                </div>
                <span class="caret dropdown-toggle btn-group custom-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">My Info</a></li>
                    <li><a href="#">Change photo</a></li>
                    <li></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="body row">
            <div class="user-list col-md-3">
                <div ng-repeat="person in people | filter:{name:search}">
                    <button type="button" class="user-list-item btn btn-default" ng-click="personSelected(person)">{{ person.name }}</button>
                </div>
            </div>
            <div class="info-panel col-md-9">
                <div class="row">
                    <div class="picture col-md-2">
                        <img ng-src="{{ selectedPerson.img }}">
                    </div>
                    <div class="buttons col-md-10">
                        <div class="message-button">
                            <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#norImplementedModal">SEND MESSAGE!</button>
                        </div>
                        <div class="rating">
                            <div ng-if="selectedPerson.rating > 0" class="heart glyphicon glyphicon-heart"></div>
                            <div ng-if="selectedPerson.rating < 1" class="heart glyphicon glyphicon-heart-empty"></div>
                            <div ng-if="selectedPerson.rating > 1" class="heart glyphicon glyphicon-heart"></div>
                            <div ng-if="selectedPerson.rating < 2" class="heart glyphicon glyphicon-heart-empty"></div>
                            <div ng-if="selectedPerson.rating > 2" class="heart glyphicon glyphicon-heart"></div>
                            <div ng-if="selectedPerson.rating < 3" class="heart glyphicon glyphicon-heart-empty"></div>
                            <div ng-if="selectedPerson.rating > 3" class="heart glyphicon glyphicon-heart"></div>
                            <div ng-if="selectedPerson.rating < 4" class="heart glyphicon glyphicon-heart-empty"></div>
                            <div ng-if="selectedPerson.rating > 4" class="heart glyphicon glyphicon-heart"></div>
                            <div ng-if="selectedPerson.rating < 5" class="heart glyphicon glyphicon-heart-empty"></div>
                        </div>
                    </div>
                </div>
                <br />
                <blockquote class="blockquote">
                {{ selectedPerson.Description }}
                </blockquote>
                <br />
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Likes</th>
                        <th>Dislikes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="preference in selectedPerson.preferences">
                        <td>{{ preference.Like }}</td>
                        <td>{{ preference.Dislike }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="norImplementedModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Not Implemented</h4>
                </div>
                <div class="modal-body">
                    <p>Send message is not implemented yes.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>