html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
}

.search {
  text-align: left;
}

.search input {
  padding-left: 50px;
  border-radius: 30px;
}

.search .search-icon {
  position: absolute;
  left: 30px;
  top: 50%  ;
  transform: translateY(-50%);
}

.search .cancel {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.account {
  text-align: right;
}

.name,
.icon {
  display: inline-block;
}

.icon img {
  height: 50px;
  vertical-align: text-bottom;
}

.picture img {
  height: 100px;
}

.body {
  padding: 10px;
}

.user-list-item {
  width: 100%;
  height: 100px;
  border-radius: 0;
  font-size: 20px;
  text-align: left;
}

.user-list-item,
.user-list-item:hover,
.user-list-item:focus,
.user-list-item:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='10'><polygon points='0,4 2,5 0,6' /></svg>") !important;
  background-size: contain !important;
  background-position: right 10px center !important;
  background-repeat: no-repeat !important;
}

.heart {
  font-size: 32px;
}

.custom-dropdown {
  cursor: pointer;
}

.message-button {
  margin-bottom: 10px;
}

.message-button button {
  width: 175px;
  height: 45px;
  font-size: 10px;
}

.message-button button,
.message-button button:hover,
.message-button button:focus,
.message-button button:active {
  color: white !important;
  background: #666 !important;
}